body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #20002c;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(151,41,247,1) 0%, rgba(24,22,39,1) 90% );
}

.tracker-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(122,183,255,1) 0%, rgba(21,83,161,1) 90% );

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#foodInput,
#caloriesInput {
    width: calc(50% - 10px);
    padding: 10px;
    margin-bottom: 10px;
}

#addButton {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
}

#addButton:hover {
    background-color: #218838;
}

#foodList {
    list-style: none;
    padding: 0;
}

.food-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #161616;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0c0c0c;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.delete-button:hover {
    background-color: #c82333;
}